chardet==2.3.0
cssselect==0.9.1
docopt==0.6.2
elasticsearch==2.3.0
geopy==1.11.0
lxml==3.6.0
mongoengine==0.10.6
oauthlib==1.1.1
pymongo==3.2.2
pyquery==1.2.13
requests==2.10.0
requests-oauthlib==0.6.1
simplejson==3.8.2
six==1.10.0
tweepy==3.5.0
urllib3==1.15.1